:root {
	--bg-color-light: #e1e1e1;
	--bg-color-dark: #3e3e3e;
	--ui-color-dark: #5e5e5e;
	--text-color-light: #fefefe;
	--text-color-light-hover: #eee;
	--text-color-dark: #000;
	--color-light: #f8f8f8;
	--color-light-hover: #e8e8e8;
	--color-dark: #322f3d;
	--color-dark-hover: #322f3d;
	--color-primary: #3498db;
	--color-primary-hover: #2980b9;
	--color-success: #00b16a;
	--color-danger: #f03434;
}

body {
	background-color: var(--bg-color-dark);
	font-family: 'Quicksand', sans-serif;
}
* {
	padding: 0;
	margin: 0;
}
.container {
	width: 90%;
	padding: 0;
	margin: 0 auto;
	max-width: 960px;
}
.col-1 {
	width: 25%;
}
.col-3 {
	width: 75%;
}
/*===================
			Navigation
===================*/
.nav-main {
	padding: 0.5rem 0;
	overflow-x: hidden;
}
.nav-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.nav-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2rem;
	color: var(--text-color-light);
}
.nav-controls img {
	display: block;
	height: 1.3em;
}
.nav-control-item {
	cursor: pointer;
	margin-left: 0.5em;
}
.nav-toggle:hover,
.nav-toggle:focus {
	color: var(--text-color-light-hover);
}
.nav-logo img {
	display: block;
	max-width: 3rem;
	transition: all 0.3s ease-in-out;
}
.nav-logo img:hover,
.nav-logo img:focus {
	opacity: 0.75;
}
.nav-close {
	font-size: 1.5rem;
	color: var(--text-color-light);
	position: absolute;
	top: 0;
	left: 0;
}
.nav-profile {
	background-color: var(--ui-color-dark);
	color: var(--text-color-light);
	width: 100%;
	padding: 1rem 0; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.nav-profile img {
	width: 30%;
	margin-bottom: 1em;
	max-width: 256px;
	border-radius: 50%;
	border: 1px solid var(--text-color-light);
}
.nav-profile p {
	font-size: 1rem;
	margin-bottom: 1em;
}
.nav-collapse-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	transition: all 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden; 
}
.nav-collapse-bg-show {
	visibility: visible;
	opacity: 1;
}
.nav-collapse {
	width: 80%;
	max-width: 360px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	background-color: var(--bg-color-dark);
}
.nav-collapse-slide-in {
	animation: slide-in 0.3s forwards;
}
.nav-collapse-slide-out {
	animation: slide-out 0.3s forwards;
}
.nav-collapse li{
	width: 100%;
	list-style: none;
}
.nav-collapse li a{
	font-size: 1.2rem;
	display: block;
	width: 100%;
	padding: 0.5em 0;
	text-align: center;
	text-decoration: none;
	color: var(--color-light);
}	
@keyframes slide-in {
	from {
		transform: translateX(100%)
	}	
	to {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	from {
		transform: translateX(0%)
	}	
	to {
		transform: translateX(100%);
	}
}
.nav-collapse li a:hover,
.nav-collapse li a:focus {
		color: var(--color-light-hover);
}
.search-bar {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.search-bar-input {
	transform: translateY(-100%);
}
.search-bar-show {
	visibility: visible;
	opacity: 1;
}
.slide-down {
	animation: slide-down 0.3s forwards;
}
.slide-up {
	animation: slide-up 0.3s forwards;
}
@keyframes slide-down {
	from {
		transform: translateY(-100%);
	}	
	to {
		transform: translateY(0%);
	}
}
@keyframes slide-up {
	from {
		transform: translateY(0%)
	}	
	to {
		transform: translateY(-100%);
	}
}
.search-results {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #000;
}
/*=========================
				Hero
=========================*/
.hero {
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.hero-text {
	text-align: center;
	color: var(--color-light);
}
/*=========================
			Info Card
=========================*/
.info-card {
	color: var(--text-color-light);
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	text-align: center;
}
.info-card h2 {
	padding: 0.5em 0;
}
.info-card p{
	margin-bottom: 1em;
	display: block;
}
/*=========================
			Task Table
=========================*/
.task-table {
	width: 100%;
	border-spacing: 1em;
}

.task-table th, .task-table td {
	padding: 0.5em 0;
	color: var(--text-color-light);
	text-align: left;
	z-index: 1;
}

/*=========================
				Task List
=========================*/
.task-list {
	display: flex;
	flex-direction: column;
}
.task-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.task-title a	{
	text-decoration: none;
	color: var(--text-color-light);
	transition: all 0.3s ease-in-out;
}
.task-title a:hover,
.task-title a:focus{
	color: var(--text-color-light-hover);
}
.task-item {
	width: 100%;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5em;
	border-radius: 999px;
	box-sizing: border-box;
}
.last-five-items {
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 999px;
}
.last-five-item {
	padding: 0;
	width: 2em;
	height: 2em;
	text-align: center;
	vertical-align: center;
	border-radius: 999px;
	overflow: hidden;
}
.last-five-item:last-child{
	border: 0.3em double #e9e9e9;
}
/*=========================
				Modal	
=========================*/
.modal-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.modal-content {
	color: var(--text-color-light);
	background-color: var(--ui-color-dark);
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	width: 75%;
	max-width: 360px;
}
.modal-content > * {
	padding: 0.5rem 0;
}
.modal-title {
	width: 100%;
	border-bottom: 1px solid #fff;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.modal-body {
	width: 100%;
}
.modal-footer {
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
.modal-toggle {
	position: absolute;
	top: -1.2rem;
	right: -0.7rem;
	z-index: 99;
}
/*=========================
				Forms	
=========================*/
.form-group {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
}
.form-group input[type="text"] {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 999px;
	background-color: #7e7e7e;
	color: var(--text-color-light);
}
.form-group input[type="text"]::placeholder {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: #999;
}
.form-group input:focus {
	outline: none;
}
/* Text Size */
.font-sm {
	font-size: 0.5rem;
}
/* Text Colors */
.text-light {
	color: var(--text-color-light);
}
.text-light-hover {
	color: var(--color-light-hover);
}
.text-dark {
	color: var(--text-color-dark);
}
.text-dark-hover {
	color: var(--color-dark-hover);
}
/* Background Colors */
.bg-dark {
	background-color: var(--bg-color-dark);
}
.bg-ui-dark {
	background-color: var(--ui-color-dark);
}
.bg-primary {
	background-color: var(--color-primary)
}
.bg-success {
	background-color: var(--color-success);
}
.bg-danger {
	background-color: var(--color-danger);
}
.bg-light {
	background-color: var(--bg-color-light);
}
.bg-lightgray {
	background-color: lightgray;
}
.bg-gray {
	background-color: gray;
}
.bg-blur {
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}
/* Display Properties */
.d-block {
	display: block;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex;
}
.d-flex-row {
	display: flex;
	flex-direction: row;
}
.d-flex-col {
	display: flex;
	flex-direction: column;
}
/* Position Properties */
.position-relative {
	position: relative;
}
/* Flex alignment */
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-evenly {
	justify-content: space-evenly;
}
.justify-self-center {
	justify-self: center;
}
.align-items-center {
	align-items: center;
}
.align-items-flex-start {
	align-items: flex-start;
}
.align-self-center {
	align-self: center;
}
/* Height */
.h-100 {
	height: 100%;
}
.h-0 {
	height: 0;
}
/* Width */
.w-10 {
	width: 10%;
}
.w-20 {
	width: 20%;
}
.w-25 {
	width: 25%;
}
.w-30 {
	width: 30%;
}
.w-35 {
	width: 30%;
}
.w-40 {
	width: 40%;
}
.w-80 {
	width: 80%;
}
.w-100 {
	width: 100%;
}
/* Padding */
.p-1 {
	padding: 1em;
}
.p-2 {
	padding: 2em;
}
.px-1 {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.py-1 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
/* Margins */
.m-auto {
	margin: auto;
}
.mb-1 {
	margin-bottom: 1em;
}
.text-center {
	text-align: center;
}
/* Button */
.btn {
	display: block;
	padding: 0.5em 1em;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	font-size: 1rem;
	border: none;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
	color: var(--color-light);
	border-radius: 9999px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.btn:hover,
.btn:focus {
	background-color: var(--color-primary-hover);
	color: var(--color-light-hover);
	outline: none;
}
.btn-round {
	font-size: 1rem;
	text-align: center;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background-color: #bbb;
	overflow: hidden;
}
/* Border-Radius Properties */
.rounded {
	border-radius: 1em;
}
.pill {
	border-radius: 999px;
}
/* Shadow Properties */
.shadow {
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.5);
}
#btn-google-signin {
	padding: 0.3em 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
}
#btn-google-signin img {
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	padding: 0.2em;
	margin-right: 0.5em;
	display: block;
	background-color: #fff;
}
#btn-google-signin:hover {
	background-color: var(--color-primary-hover);
}

/*=========================
			Footer
=========================*/
footer {
	padding: 3em 0;
	background-color: var(--bg-color-dark);
	color: var(--text-color-light);
	text-align: center;
}

